<ion-header>
  <ion-toolbar>
    <ion-title>Feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Zorrito</ion-card-subtitle>
      <ion-img src="/assets/images/redfox2.jpg"></ion-img>
    </ion-card-header>

    <ion-card-content>
      Aquí namás agusto
    </ion-card-content>

    <div class="opciones">
      <ion-col size="12">
        <ion-icon name="paper-plane-outline" class="option"></ion-icon>
        <ion-icon name="heart-outline" class="option"></ion-icon>
      </ion-col>
    </div>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Manunu</ion-card-subtitle>
      <ion-img src="/assets/images/redfox1.jpg"></ion-img>
    </ion-card-header>

    <ion-card-content>
      Aquí namás agusto
    </ion-card-content>

    <div class="opciones">
      <ion-col size="12">
        <ion-icon name="paper-plane-outline" class="option"></ion-icon>
        <ion-icon name="heart-outline" class="option"></ion-icon>
      </ion-col>
    </div>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Zorrito</ion-card-subtitle>
      <ion-img src="/assets/images/redfox2.jpg"></ion-img>
    </ion-card-header>

    <ion-card-content>
      De dia soy uno, de noche soy otro
    </ion-card-content>

    <div class="opciones">
      <ion-col size="12">
        <ion-icon name="paper-plane-outline" class="option"></ion-icon>
        <ion-icon name="heart-outline" class="option"></ion-icon>
      </ion-col>
    </div>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Amuran</ion-card-subtitle>
      <ion-img src="/assets/images/redfox3.jpg"></ion-img>
    </ion-card-header>

    <ion-card-content>
      Bailemos hasta el amanecer
    </ion-card-content>

    <div class="opciones">
      <ion-col size="12">
        <ion-icon name="paper-plane-outline" class="option"></ion-icon>
        <ion-icon name="heart-outline" class="option"></ion-icon>
      </ion-col>
    </div>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>OooOooOoOOoz</ion-card-subtitle>
      <ion-img src="/assets/images/redfox4.jpg"></ion-img>
    </ion-card-header>

    <ion-card-content>
      oooooooooooooooooooooooooooooooooooooooo
    </ion-card-content>

    <div class="opciones">
      <ion-col size="12">
        <ion-icon name="paper-plane-outline" class="option"></ion-icon>
        <ion-icon name="heart-outline" class="option"></ion-icon>
      </ion-col>
    </div>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Ishipee</ion-card-subtitle>
      <ion-img src="/assets/images/redfox5.jpg"></ion-img>
    </ion-card-header>

    <ion-card-content>
      ola
    </ion-card-content>

    <div class="opciones">
      <ion-col size="12">
        <ion-icon name="paper-plane-outline" class="option"></ion-icon>
        <ion-icon name="heart-outline" class="option"></ion-icon>
      </ion-col>
    </div>
  </ion-card>


</ion-content>
