.my-custom-menu {
  --width: 500px;
}

.avatar {
  border-radius: 80%;
  width: 100px;
  height: 70px;
  margin-top: 60px;
}

.bold {
  font-weight: 700;
  display: block;

}

.datos {
  text-align: center;
  margin-top: 50px
}

.usuario {
  ion-col {
      display: flex;
      align-self: center;
      flex-flow: column;
  }
}
